{% extends "base.html" %}

{% block content %}
<div class="col-md-6 offset-md-3"></div>
{%if user.is_authenticated %}
    <h1> Hello {{user.first_name}} </h1>
    <a href="{% url 'logout' %}"> Logout </a>
{%else%}
<h1> Login</h1>
<form action="{%url 'home' %}" method="POST">
    {% csrf_token %}
    <form>
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="First Name" required>
  </div>
  <br>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password" required>
  </div>
  
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</form>
{% endif %}
{% endblock %}